<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>a world class education for every child<br />
			second line of text</h2>
			<p>Our school community is a microcosm of what we wish the world to become.  A community made of people from very different walks of life but powerfully united in the shared struggle and vision to raise their children to live meaningful lives, discover themselves, and make a difference for those around them.</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-tree major style1"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-tree major style3"><span class="label">Dolor</span></span>
			</li>
		</ul>
	</div>
</section>
