<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>the Sankoré way</h2>
			<p>We believe in the following principles that guide our approaches to teaching a learning.</p>
		</header>
		<ul class="features">
			<li class="icon fa-globe">
				<h3>connectedness</h3>
				<p>Tuko pamoja - our once massive world is becoming smaller and smaller. While we strive to maintain our own culture and identity and remain unniquely Kenyan, we embrace our connections to others around the globe.</p>
			</li>
			<li class="icon fa-laptop">
				<h3>technology</h3>
				<p>We use technology with purpose and intention in the 21st century. It is a means for both creation as well as the construction of knowledge. We embrace advances in technology.</p>
			</li>
			<li class="icon fa-sun-o">
				<h3>nature</h3>
				<p>We learn within and about our natural world and advocate on its behalf. We care for the earth and its people and seek both connection with and protection of natural resources.</p>
			</li>
			<li class="icon fa-music">
				<h3>expression</h3>
				<p>We express ourselves authentically through studio and performing arts, music, and writing and we reveal our true selves, advocate for change, and innovate.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>service</h3>
				<p>We are community service driven individuals intent on affecting change in our communities, driven by community identified needs. We aim to support the restoration of dignity where it is needed and are always transparent.</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>Kenya</h3>
				<p>While we look towards a global future, we remain united in our identities as Kenyans. We embrace our local cultures, history, and traditions and help to carry them forward as we grow and expand our world.</p>
			</li>
		</ul>
	</div>
</section>
