<!-- Three -->

<section id="three" class="wrapper style3 special">

	<div class="inner">
	
	<header class="major">
	
	<h2>the Sankoré experience</h2>
	
	<p>We believe in the following Well-Being principles that guide our approaches to teaching a learning.</p>
	
	</header>
	
	<ul class="features">
	
	<li class="icon fa-school">
	
	<h3>Academic Well-Being</h3>
	
	<p>Our academic experiences place heavy emphasis on the use of technology, innovation, STEAM, and access to rigorous academics for all. We use technology with purpose and intention in the 21st century. It is a means for both creation as well as the construction of knowledge. We embrace advances in technology.</p>
	
	</li>
	
	<li class="icon fa-globe">
	
	<h3>Social Well-Being</h3>
	
	<p>Tuko pamoja - our once massive world is becoming smaller and smaller. While we strive to maintain our own culture and identity and remain uniquely Kenyan, we embrace our connections to others around the globe. We learn within and about our natural world and advocate on its behalf. We care for the earth and its people and seek both connection with and protection of natural resources.</p>
	
	</li>
	
	<li class="icon fa-person">
	
	<h3>Physical Well-Being</h3>
	
	<p>We learn about ourselves through the exploration of physical activities, both cooperative and competitive, and learn to take care of our bodies through regular, intentional exercise. We bring mindfulness into our physical work through patience and precision.</p>
	
	</li>
	
	<li class="icon fa-heart">
	
	<h3>Emotional Well-Being</h3>
	
	<p>We express ourselves authentically through studio and performing arts, music, and writing and we reveal our true selves, advocate for change, and innovate. Our campus provides the facilities and save space to experiment, showcase, and iterate on the creative processes.</p>
	
	</li>
	
	</ul>
	
	</div>
	
	</section>