<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>School ideals</h2>
			<p>our school believes and is commited to the following during development</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>connectedness</h3>
				<p>a line about commitment to interconnectedness and international mindedness</p>
			</li>
			<li class="icon fa-laptop">
				<h3>technologyt</h3>
				<p>intentional and consistent use of technology for learning in the 21st century.</p>
			</li>
			<li class="icon fa-code">
				<h3>STEAM</h3>
				<p>a focus on innovation through science, technology, engineering, arts, and mathematics</p>
			</li>
			<li class="icon fa-headphones">
				<h3>expression</h3>
				<p>through studio and performing arts, music, writing we reveal our true selves...</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>service</h3>
				<p>community service driven individuals intent on affecting change in our communities</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>Uniquely Kenyan</h3>
				<p>While we look towards a global future, we remain united in our identities as kenyans, yadda yadda.</p>
			</li>
		</ul>
	</div>
</section>
